body{
    background-color: #141414;
}

.netflix-nav-dark{
 background-color: #141414;
}

.white-border{
    border: solid 1px white;
    background-color: black;
}

.nav-text {
    color: white;
}

.sections{
    color: white;
}

svg{
    fill: white;
}